
<div class="row">
  <div class="col-md-3">
    <%= link_to "Regresar a los Posts", posts_path, class: "btn btn-secondary mb-3"%>
    <div class="card">
      <div class="card-body">
          <h4 class="card-title">Editar Post</h4>
          <%= render "form", post: @post %>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="mb-3">
      <%= form_with(model: [@post, @content]) do |form|%>
           <%= form.hidden_field :elemento_tipo, value: "content"%>
          <%= form.submit "Agregar Contenido", class: "btn btn-primary" %>
      <% end %>
    </div>


      <% @post.elementos.each do |elemento|%>
      <% if elemento.persisted? %>
            <%= form_with(model: [@post, elemento]) do |form|%>
                 <%= form.rich_text_area :content%>

                   <%= form.submit "Guardar", class: "btn btn-primary" %>
                

            <% end %>
      <%end %>
      <%end %>

  </div>
</div>
